<div class="nav_menu">
    <nav>
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="/logout" class="">
                    <img src="images/img.jpg" alt="">Logout
                    <span class="glyphicon glyphicon-off" style="margin-left:5px;" aria-hidden="true"></span>
                </a>

                
            </li>

        </ul>
        <ul class="nav navbar-nav">
            <li class="">
                <a href="/check_gia" class="">
                    Quay lại Trang
                </a>                
            </li>

        </ul>
    </nav>
</div>
