{% extends "layout.html" %}
    

{% block body %}
<style type="text/css">
    .inline_modal {display: inline-block;width: 49.5%;padding: 10px; vertical-align: top}
    .inline_modal_lg {display: inline-block;width: 90.5%;padding: 10px}
    .inline_modal_3 {display: inline-block;width: 33%;padding: 10px;height: 5vh;}
    .inline_label {display: inline-block !important ;width: 30% !important}
    .inline_label_sm {display: inline-block !important ;width: 20% !important}

    .inline_select_input {display: inline-block !important ;width: 68% !important}
    .modal-body {margin-bottom: 2vh}
    .modal-lg {width: 1000px !important}
    .header {margin-bottom: 20px;padding: 0px 15px 15px 15px}
    .dropdown-toggle {padding:6px 25px 6px 12px !important;}
    .tabs-style-bar nav ul li.tab-current a {background-color: #007256;}
    .tabs-style-bar nav ul li.tab-current{background-color: #007256;}
    .tabs-style-bar nav ul {border: 1px solid transparent}
    .tabs-style-bar nav ul li a {color: #2A3F54; font-size: 120%;font-weight: bold; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .tabs nav ul li {border: 1px solid #007256}

    .color_panel {background-color: #007256 !important}
    .color_header {background-color: #2A3F54;}
    /** {border: 1px solid black}*/
    .label_value {
        font-family: Arial, Helvetica, sans-serif;
        color: red;
        font-size: 150%;
    }
    .panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {color: white;}
    .content-wrap section {text-align: left;}
</style>




<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 28.7vw;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 20 !important;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .tabs nav ul li {
        z-index: 2;
    }
    .dropdown-option {
        cursor: wait;
        padding: 10px 0px 10px 30px;
    }
    .dropdown-option:hover {
        background-color: #cccccc
    }
    .current_active {
        background-color: #8cd9b3
    }
</style>
<script type=text/javascript>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="main" style="margin-top: 5vh">

        <section>
            <div class="tabs tabs-style-bar" style="margin-bottom: 3vh !important;width: 85vw">
                <!-- HEADER -->
                <nav>
                    <ul id="tabs">
                        <li>
                            <div class="dropdown">
                                <a href="#section-bar-3" style="width: 28.3vw"><span style="margin-right: 5px;margin-bottom: 1px;  font-size: 110%" class="fa fa-home"></span>GIÁ THỊ TRƯỜNG</a>
                                <div class="dropdown-content" style="text-align: left;">
                                    <div class="dropdown-option current_active" id="div_dropdown_tho_cu">BĐS Thổ cư</div>
                                    <div class="dropdown-option" id="div_dropdown_can_ho">Căn hộ - Chung cư</div>
                                    <div class="dropdown-option" id="div_dropdown_biet_thu">Shop house - Biệt Thự - Liền kề</div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#section-bar-2"><span style="margin-right: 5px; font-size: 90%" class="fa fa-file-text"></span>KHUNG GIÁ NHÀ NƯỚC</a></li>                      
                        <li><a href="#section-bar-4"><span style="margin-right: 5px;" class="fa fa-bar-chart"></span>THÔNG TIN QUY HOẠCH</a></li>
                    </ul>
                </nav>
                <div class="content-wrap" style="margin-top: 5vh">

                    <!-- GIA THI TRUONG -->
                    <section id="section-bar-3" style="height: 500vh">                        
                        {% include 'check_gia_thi_truong.html' %}
                    </section>
                    <!-- GIA UY BAN -->
                    <section id="section-bar-2">
                        {% include 'check_gia_uy_ban.html' %}
                    </section>
                    
                    <!-- THONG TIN QUY HOACH -->
                    <section id="section-bar-4">
                        {% include 'thong_tin_quy_hoach.html' %}
                    </section>
                    
                </div><!-- /content -->
            </div><!-- /tabs -->
        </section>
        <script type="text/javascript">
            $("#div_dropdown_tho_cu").click(function() {
                $("#div_dropdown_tho_cu").addClass("current_active")
                $("#div_dropdown_can_ho").removeClass("current_active")
                $("#div_dropdown_biet_thu").removeClass("current_active")

                $("#input_form_tho_cu").css("display","")
                $("#input_form_chung_cu").css("display","none")
                $("#input_form_biet_thu").css("display","none")
            })
            $("#div_dropdown_can_ho").click(function() {
                $("#div_dropdown_tho_cu").removeClass("current_active")
                $("#div_dropdown_can_ho").addClass("current_active")
                $("#div_dropdown_biet_thu").removeClass("current_active")

                $("#input_form_tho_cu").css("display","none")
                $("#input_form_chung_cu").css("display","")
                $("#input_form_biet_thu").css("display","none")
            })
            $("#div_dropdown_biet_thu").click(function() {
                $("#div_dropdown_tho_cu").removeClass("current_active")
                $("#div_dropdown_can_ho").removeClass("current_active")
                $("#div_dropdown_biet_thu").addClass("current_active")
                
                $("#input_form_tho_cu").css("display","none")
                $("#input_form_chung_cu").css("display","none")
                $("#input_form_biet_thu").css("display","")
            })
        </script>
        <!-- Enable Tabs -->
        <script src="static/js/cbpFWTabs.js"></script>
        <script>
            (function() {
                [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
                    new CBPFWTabs( el );
                });
            })();
        </script>
       
        <!-- DOT NUMBER -->
        <script type="text/javascript">
            function reverseNumber(input) {
                return [].map.call(input, function(x) {
                    return x;
                }).reverse().join(''); 
            };
              
            function plainNumber(number) {
                return number.split(',').join('');
            };
              
            function splitInDots(input) {
                var value = input.value;
                if(isNaN(value.replace(/\,/g,'')) == false) {
                    var plain = plainNumber(value)
                    var reversed = reverseNumber(plain)
                    var reversedWithDots = reversed.match(/.{1,3}/g).join(',')
                    var normal = reverseNumber(reversedWithDots);
                    input.value = normal;
                }else {
                    input.value = ''
                }       
            };
            function dot_number(number) {
                number = String(number).split("").reverse().join("")
                number = number.match(/.{1,3}/g).join(',')
                number = reverseNumber(number)
                return number
            }
        </script>
        <!-- CHECK GIA UY BAN + TT QUY HOACH -->
        <script type="text/javascript">
        // GET GIA + TT QUY HOACH AJAX
            $(document).on('change','[id^="vi_tri_bds_"]', function() {
                let vi_tri_bds_id = $(this).attr("id")
                let tinh_thanh_id = `tinh_thanh_${vi_tri_bds_id.split("vi_tri_bds_")[1]}`
                let quan_huyen_id = `quan_huyen_${vi_tri_bds_id.split("vi_tri_bds_")[1]}`
                let ten_duong_id = `ten_duong_${vi_tri_bds_id.split("vi_tri_bds_")[1]}`
                let tuyen_duong_id = `tuyen_duong_${vi_tri_bds_id.split("vi_tri_bds_")[1]}`

                $.getJSON($SCRIPT_ROOT + '/ajax_get_gia_uy_ban', {
                    tinh_thanh: $(`#${tinh_thanh_id}`).val(),
                    quan_huyen: $(`#${quan_huyen_id}`).val(),
                    ten_duong: $(`#${ten_duong_id}`).val(),
                    tuyen_duong: $(`#${tuyen_duong_id}`).val(),       
                    vi_tri_bds: $(this).val(),

                }, function(data) {                    
                    if(vi_tri_bds_id.split("vi_tri_bds_")[1] == 'tt_quy_hoach') {
                        $("#result_quy_hoach").css("display", "")

                        let tt_qh = ''
                        $.each(String(data.result[0][0]).split("|"), function(i, r) {
                            tt_qh += `<div style="margin-left: 10px;">${r}</div>`
                        })                       


                        $(`#gia_tri_tai_san_${vi_tri_bds_id.split("vi_tri_bds_")[1]}`).html(tt_qh)
                    }
                    
                  });
                  return false;
            })
        </script>
        <!-- CHECK VI TRI -->
        
        <!-- SET VALUE NONE -->
        <script type="text/javascript">
            $("[id^='tinh_thanh_']").selectpicker("refresh").selectpicker("val","")
            $("[id^='vi_tri_']").selectpicker("refresh").selectpicker("val","")
            $("#du_an_cc_thi_truong").selectpicker("refresh").selectpicker("val","")
            $("#du_an_biet_thu").selectpicker("refresh").selectpicker("val","")
        </script>
        <script type="text/javascript">
            // DELAY FUNC LIVESEARCH
            var delay = (function(){
            var timer = 0;
            return function(callback, ms){
                clearTimeout (timer);
                timer = setTimeout(callback, ms);
              };
            })();
            // LIVE SEARCH
            var list_keycode = [13,37,38,39,40,16,17,18,32]
            $(document).on("keyup",'div#div_dia_chi_thi_truong > div.bootstrap-select > div.dropdown-menu > div.bs-searchbox > input',function(e) {
                if(list_keycode.indexOf(e.keyCode) == -1 ){
                    let value = $(this).val().trim(); // remove any spaces around the text
                    delay(function(){                                            
                        if(value != ""){ // don't make requests with an empty string
                            $.ajax({
                                url: "/ajax_get_option_bds_nha_tho_cu_test",
                                data: {searchText: value},
                                dataType: "json",
                                type: "POST",
                                success: function(data){
                                    // create the html with results
                                    $("#dia_chi_thi_truong").empty()
                                    $.each(data.results,function(i,r) {
                                        $("#dia_chi_thi_truong").append(`<option>${r}</option>`)
                                    })
                                    $("#dia_chi_thi_truong").selectpicker('refresh')
                                    $("#dia_chi_thi_truong").selectpicker('val','')

                                    $("ul > li").removeClass("hidden")
                                    $("li.no-results").css("display","none")
                                }
                            })
                        // $(this).focus().attr("style","border-color:red !important")
                        // $("#dia_chi_thi_truong").selectpicker('val','')
                        }
                        else{
                            $("#dia_chi_thi_truong").selectpicker('refresh'); // set the results empty in case of empty string
                            $("ul > li").removeClass("hidden")
                            $("li.no-results").css("display","none")
                            $("#dia_chi_thi_truong").selectpicker('val','')
                        }
                    },300);
                }
                
            // $("#dia_chi_thi_truong").selectpicker('val','') 
            })    
        </script>
        <script type="text/javascript">
            // $(document).on('click','#get_result', function() {
            //     let list_yeu_to = []
            //     $.each($.merge($(`input[id^='check_box_loi_the']`), $(`input[id^='check_box_bat_loi']`)), function(i,r) {
            //         if($(this).is(':checked') == true) {
            //             list_yeu_to.push($(this).val())
                        
            //         }
            //     })
            //     console.log(list_yeu_to.join("|"))

            // })
        </script>
        <!-- AXAX BDS THO CU -->
        <script type="text/javascript">
            $(`#hinh_dang`).selectpicker("refresh").selectpicker("val","")
            // FUNCTION EMPTY FIELD
            function empty_field() {
                $("#dien_tich_dat_thi_truong").val("")
                $("#do_rong_mat_tien_thi_truong").val("")
                $("#do_rong_ngo_thi_truong").val("")
                $("#kcach_truc_chinh_thi_truong").val("")
                $(`#hinh_dang`).selectpicker("val","").selectpicker("refresh")              
                $("#dac_diem_vi_tri_thi_truong").text("")
                $("#gia_sau").text("")
            }

            // QUAN HUYEN AJAX
                $(document).on('change','[id^="tinh_thanh_"]', function() {

                    let tinh_thanh_id = $(this).attr("id")
                    let quan_huyen_id = `quan_huyen_${tinh_thanh_id.split("tinh_thanh_")[1]}`
                    let ten_duong_id = `ten_duong_${tinh_thanh_id.split("tinh_thanh_")[1]}`
                    let tuyen_duong_id = `tuyen_duong_${tinh_thanh_id.split("tinh_thanh_")[1]}`
                    let vi_tri_bds_id = `vi_tri_bds_${tinh_thanh_id.split("tinh_thanh_")[1]}`

                    // EMPTY FIELD ONCHANGE
                    empty_field()
                    // AJAX
                    $.getJSON($SCRIPT_ROOT + '/ajax_get_option_quan_huyen', {
                        tinh_thanh: $(this).val(),
                    }, function(data) { 
                        
                        // empty field                        
                        $(`#${quan_huyen_id}`).empty().prop("disabled",true)
                        $(`#${ten_duong_id}`).empty().prop("disabled",true)
                        $(`#${tuyen_duong_id}`).empty().prop("disabled",true)
                        $(`#${vi_tri_bds_id}`).empty().prop("disabled",true)
                        $(`[id^="gia_tri_tai_san_"]`).empty()
                        $("#div_select_loi_the").empty()
                        $("#div_select_bat_loi").empty()

                        $.each(data.result, function(i,r) {
                            $(`#${quan_huyen_id}`).append(`<option>${r}</option>`).prop("disabled",false)
                        })
                        $(`#${quan_huyen_id}`).selectpicker("refresh").selectpicker("val","")
                        $(`#${ten_duong_id}`).selectpicker("refresh").selectpicker("val","")
                        $(`#${tuyen_duong_id}`).selectpicker("refresh").selectpicker("val","")
                        $(`#${vi_tri_bds_id}`).selectpicker("refresh").selectpicker("val","")

                      })
                      return false;
                })
            // DOAN DUONG AJAX
                $(document).on('change','[id^="quan_huyen_"]', function() {
                    let quan_huyen_id = $(this).attr("id")
                    let tinh_thanh_id = `tinh_thanh_${quan_huyen_id.split("quan_huyen_")[1]}`
                    let ten_duong_id = `ten_duong_${quan_huyen_id.split("quan_huyen_")[1]}`
                    let tuyen_duong_id = `tuyen_duong_${quan_huyen_id.split("quan_huyen_")[1]}`
                    let vi_tri_bds_id = `vi_tri_bds_${quan_huyen_id.split("quan_huyen_")[1]}`
                    empty_field()
                    // AJAX
                    $.getJSON($SCRIPT_ROOT + '/ajax_get_option_duong_pho', {
                        tinh_thanh: $(`#${tinh_thanh_id}`).val(),
                        quan_huyen: $(this).val(),

                    }, function(data) { 
                        $(`#${ten_duong_id}`).empty().prop("disabled",true)
                        $(`#${tuyen_duong_id}`).empty().prop("disabled",true)
                        $(`#${vi_tri_bds_id}`).empty().prop("disabled",true)
                        $(`[id^="gia_tri_tai_san_"]`).empty()
                        $("#div_select_loi_the").empty()
                        $("#div_select_bat_loi").empty()
                        $.each(data.result, function(i,r) {
                            $(`#${ten_duong_id}`).append(`<option>${r}</option>`).prop("disabled",false)
                        })
                        $(`#${ten_duong_id}`).selectpicker("refresh").selectpicker("val","")
                        $(`#${tuyen_duong_id}`).selectpicker("refresh").selectpicker("val","")
                        $(`#${vi_tri_bds_id}`).selectpicker("refresh").selectpicker("val","")

                      });
                      return false;
                })
            // TUYEN DUONG AJAX
                $(document).on('change','[id^="ten_duong_"]', function() {
                    let ten_duong_id = $(this).attr("id")
                    let tinh_thanh_id = `tinh_thanh_${ten_duong_id.split("ten_duong_")[1]}`
                    let quan_huyen_id = `quan_huyen_${ten_duong_id.split("ten_duong_")[1]}`
                    let tuyen_duong_id = `tuyen_duong_${ten_duong_id.split("ten_duong_")[1]}`
                    let vi_tri_bds_id = `vi_tri_bds_${ten_duong_id.split("ten_duong_")[1]}`
                    empty_field()
                    // AJAX
                    $.getJSON($SCRIPT_ROOT + '/ajax_get_option_tuyen_duong', {
                        tinh_thanh: $(`#${tinh_thanh_id}`).val(),
                        quan_huyen: $(`#${quan_huyen_id}`).val(),              
                        ten_duong: $(this).val(),

                    }, function(data) { 
                        $(`#${tuyen_duong_id}`).empty().prop("disabled",true)
                        $(`#${vi_tri_bds_id}`).empty().prop("disabled",true)
                        $(`[id^="gia_tri_tai_san_"]`).empty()
                        $("#div_select_loi_the").empty()
                        $("#div_select_bat_loi").empty()
                        $.each(data.result, function(i,r) {
                            $(`#${tuyen_duong_id}`).append(`<option>${r}</option>`).prop("disabled",false)
                        })
                        $(`#${tuyen_duong_id}`).selectpicker("refresh").selectpicker("val","")
                        $(`#${vi_tri_bds_id}`).selectpicker("refresh").selectpicker("val","")

                      });
                      return false;
                })
            // VI TRI BDS AJAX
                $(document).on('change','[id^="tuyen_duong_"]', function() {
                    let tuyen_duong_id = $(this).attr("id")
                    let tinh_thanh_id = `tinh_thanh_${tuyen_duong_id.split("tuyen_duong_")[1]}`
                    let quan_huyen_id = `quan_huyen_${tuyen_duong_id.split("tuyen_duong_")[1]}`
                    let ten_duong_id = `ten_duong_${tuyen_duong_id.split("tuyen_duong_")[1]}`
                    let vi_tri_bds_id = `vi_tri_bds_${tuyen_duong_id.split("tuyen_duong_")[1]}`
                    empty_field()
                    // AJAX
                    $.getJSON($SCRIPT_ROOT + '/ajax_get_option_vi_tri_bds', {
                        tinh_thanh: $(`#${tinh_thanh_id}`).val(),
                        quan_huyen: $(`#${quan_huyen_id}`).val(),
                        ten_duong: $(`#${ten_duong_id}`).val(),            
                        tuyen_duong: $(this).val(),

                    }, function(data) { 

                        $(`#${vi_tri_bds_id}`).empty().prop("disabled",true)
                        $(`[id^="gia_tri_tai_san_"]`).empty()
                        $("#div_select_loi_the").empty()
                        $("#div_select_bat_loi").empty()
                        $.each(data.result, function(i,r) {
                            $(`#${vi_tri_bds_id}`).append(`<option>${r}</option>`).prop("disabled",false)
                        })
                        $(`#${vi_tri_bds_id}`).selectpicker("refresh").selectpicker("val","")
                      });
                      return false;
                })
            ////// DIA CHI CHANGE
                // $(document).on('change','#dia_chi_thi_truong', function() {

                //     $.getJSON($SCRIPT_ROOT + '/ajax_get_option_bds_nha_tho_cu', {
                //       dia_chi_thi_truong: $("#dia_chi_thi_truong").val(),
                //     }, function(data) { 
                //         $("#ten_duong_thi_truong").empty().prop("disabled",true)
                //         $.each(data.result, function(i,r) {
                //             $("#ten_duong_thi_truong").append(`<option>${r}</option>`).prop("disabled",false)
                //         })
                //         $("#ten_duong_thi_truong").selectpicker("refresh").selectpicker("val","")
                //       });
                //       return false;
                // })
        </script>
        <!-- AJAX BDS CAN HO -->
        <script type="text/javascript">
            // GET TEN TOA NHA
            $(document).on('change','[id^="du_an_cc_thi_truong"]', function() {
                $.getJSON($SCRIPT_ROOT + '/ajax_get_option_du_an_can_ho', {            
                    ten_du_an: $(this).val(),
                }, function(data) { 
                    $(`#toa_nha_cc_thi_truong`).empty().prop("disabled",true)
                    $(`#tang_cc_thi_truong`).empty().prop("disabled",true)
                    $(`#ma_can_cc_thi_truong`).empty().prop("disabled",true)
                    $(`[id^="value_"]`).empty()               

                    $.each(data.result, function(i,r) {
                        $(`#toa_nha_cc_thi_truong`).append(`<option>${r}</option>`).prop("disabled",false)
                    })
                    $(`#toa_nha_cc_thi_truong`).selectpicker("refresh").selectpicker("val","")
                    $(`#tang_cc_thi_truong`).selectpicker("refresh").selectpicker("val","")
                    $(`#ma_can_cc_thi_truong`).selectpicker("refresh").selectpicker("val","")
                  });
                  return false;
            })
            // GET SO TANG NHA
                $(document).on('change','[id^="toa_nha_cc_thi_truong"]', function() {
                    $.getJSON($SCRIPT_ROOT + '/ajax_get_option_tang_can_ho', { 
                        ten_du_an: $("#du_an_cc_thi_truong").val(),
                        ten_toa_nha: $(this).val(),
                    }, function(data) { 
                        $(`#tang_cc_thi_truong`).empty().prop("disabled",true)
                        $(`#ma_can_cc_thi_truong`).empty().prop("disabled",true)
                        $(`[id^="value_"]`).empty()               

                        $.each(data.result, function(i,r) {
                            $(`#tang_cc_thi_truong`).append(`<option>${r}</option>`).prop("disabled",false)
                        })
                        $(`#tang_cc_thi_truong`).selectpicker("refresh").selectpicker("val","")
                        $(`#ma_can_cc_thi_truong`).selectpicker("refresh").selectpicker("val","")

                      });
                      return false;
                })
            // GET MA CAN
                $(document).on('change','[id^="tang_cc_thi_truong"]', function() {
                    $.getJSON($SCRIPT_ROOT + '/ajax_get_option_ma_can_ho', { 
                        ten_du_an: $("#du_an_cc_thi_truong").val(),
                        ten_toa_nha: $("#toa_nha_cc_thi_truong").val(),
                        so_tang: $(this).val(),

                    }, function(data) { 
                        $(`#ma_can_cc_thi_truong`).empty().prop("disabled",true)
                        $(`[id^="value_"]`).empty()               
                        $.each(data.result, function(i,r) {
                            $(`#ma_can_cc_thi_truong`).append(`<option>${r}</option>`).prop("disabled",false)
                        })
                        $(`#ma_can_cc_thi_truong`).selectpicker("refresh").selectpicker("val","")
                      });
                      return false;
                })
            // GET VALUE
                $(document).on('change','[id^="ma_can_cc_thi_truong"]', function() {
                    $.getJSON($SCRIPT_ROOT + '/ajax_get_option_gia_can_ho', { 
                        ten_du_an: $("#du_an_cc_thi_truong").val(),
                        ten_toa_nha: $("#toa_nha_cc_thi_truong").val(),
                        so_tang: $("#tang_cc_thi_truong").val(),
                        ma_can: $("#ma_can_cc_thi_truong").val(),
                    }, function(data) { 
                        $("#result_chung_cu").css("display", "")
                        $("#value_dien_tich_cc_thi_truong").text(data.result[0][0])
                        $("#value_loai_dien_tich_cc_thi_truong").text(data.result[0][1])
                        $("#value_don_gia_cc_thi_truong").text(dot_number(Math.round(data.result[0][2])))
                        $("#value_ghi_chu_cc_thi_truong").text(data.result[0][3])
                      });
                      return false;
                })
        </script>
        <!-- AJAX BDS BIET THU -->
        <script type="text/javascript">
            // GET TEN DUONG
                $(document).on('change','[id^="du_an_biet_thu"]', function() {
                    $.getJSON($SCRIPT_ROOT + '/ajax_get_option_ten_duong_biet_thu', { 
                        ten_du_an: $("#du_an_biet_thu").val(),
                    }, function(data) { 
                        $(`#duong_nha_biet_thu`).empty().prop("disabled",true)
                        $(`#loai_nha_biet_thu`).empty().prop("disabled",true)
                        $(`#ma_can_biet_thu`).empty().prop("disabled",true)
                        $(`[id^="value_"]`).empty()          
                
                        $.each(data.result, function(i,r) {
                            $(`#duong_nha_biet_thu`).append(`<option>${r}</option>`).prop("disabled",false)
                        })
                        $(`#duong_nha_biet_thu`).selectpicker("refresh").selectpicker("val","")
                        $(`#loai_nha_biet_thu`).selectpicker("refresh").selectpicker("val","")
                        $(`#ma_can_biet_thu`).selectpicker("refresh").selectpicker("val","")
                      });
                      return false;
                })
                // GET LOAI NHA
                    $(document).on('change','[id^="duong_nha_biet_thu"]', function() {
                        $.getJSON($SCRIPT_ROOT + '/ajax_get_option_tang_biet_thu', { 
                            ten_du_an: $("#du_an_biet_thu").val(),
                            ten_duong: $("#duong_nha_biet_thu").val(),
                        }, function(data) { 
                            $(`#loai_nha_biet_thu`).empty().prop("disabled",true)
                            $(`#ma_can_biet_thu`).empty().prop("disabled",true)             
                            $(`[id^="value_"]`).empty() 
                            $.each(data.result, function(i,r) {
                                $(`#loai_nha_biet_thu`).append(`<option>${r}</option>`).prop("disabled",false)
                            })
                            $(`#loai_nha_biet_thu`).selectpicker("refresh").selectpicker("val","")
                            $(`#ma_can_biet_thu`).selectpicker("refresh").selectpicker("val","")

                          });
                          return false;
                    })
                    // GET MA CAN
                        $(document).on('change','[id^="loai_nha_biet_thu"]', function() {
                            $.getJSON($SCRIPT_ROOT + '/ajax_get_option_ma_biet_thu', { 
                                ten_du_an: $("#du_an_biet_thu").val(),
                                ten_duong: $("#duong_nha_biet_thu").val(),
                                ten_tang: $(this).val(),

                            }, function(data) { 
                                $(`#ma_can_biet_thu`).empty().prop("disabled",true)
                                $(`[id^="value_"]`).empty()             
                                $.each(data.result, function(i,r) {
                                    $(`#ma_can_biet_thu`).append(`<option>${r}</option>`).prop("disabled",false)
                                })
                                $(`#ma_can_biet_thu`).selectpicker("refresh").selectpicker("val","")
                              });
                              return false;
                        })
                    // GET VALUE
                        $(document).on('change','[id^="ma_can_biet_thu"]', function() {
                            $.getJSON($SCRIPT_ROOT + '/ajax_get_option_gia_biet_thu', { 
                                ten_du_an: $("#du_an_biet_thu").val(),
                                ten_duong: $("#duong_nha_biet_thu").val(),
                                ten_tang: $("#loai_nha_biet_thu").val(),
                                ma_can: $("#ma_can_biet_thu").val(),
                            }, function(data) { 
                                $("#result_biet_thu").css("display", "")
                                console.log(data.result)
                                $("#value_dien_tich_biet_thu").text(data.result[0][0])
                                $("#value_dien_tich_san_biet_thu").text(data.result[0][1])
                                $("#value_tong_gia_tho_biet_thu").text(data.result[0][2])
                                $("#value_tong_gia_full_biet_thu").text(data.result[0][3])
                                $("#value_don_gia_dat").text(dot_number(Math.round(data.result[0][4])))
                                $("#value_don_gia_ctxd").text(dot_number(Math.round(data.result[0][5])))
                              });
                              return false;
                        })
        </script>

</div>
{% endblock %}



