<!DOCTYPE html>
<html>
    <head>
        <title>Sao Mộc</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sm/layout.css') }} ">

        <style type="text/css">
            .heading, .uppercase {font-family: Verdana, Geneva, sans-serif; font-weight: bold;}
        </style>
    </head>
    <body id="top">
        <div class="wrapper row0">
            <div id="topbar" class="hoc clear"> 
                <!-- ################################################################################################ -->
                <div class="fl_left">
                    <ul class="nospace inline pushright">
                        <li><i class="fa fa-phone"></i> +84 984 189 868</li>
                        <!-- <li><i class="fa fa-envelope-o"></i> info@domain.com</li> -->
                    </ul>
                </div>
                <div class="fl_right">
                    <ul class="faico clear">
                        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="faicon-google-map" href="#"><i class="fa fa-map-marker"></i></a></li>
                        <li><a class="faicon-gmail" href="#"><i class="fa fa-envelope-o"></i></a></li>
                        <!-- <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li> -->
                        <!-- <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li> -->
                        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <!-- <li><a class="faicon-rss" href="#"><i class="fa fa-rss"></i></a></li> -->
                    </ul>
                </div>
            <!-- ################################################################################################ -->
            </div>
        </div>
        <div class="wrapper row1">
            <header id="header" class="hoc clear"> 
                <div id="logo" class="fl_left">
                  <div style="background-image:url('static/img/demo/backgrounds/saomoc_do.png'); background-size: 100% 100%; width: 13vw; height: 9vh"></div>
                </div>
                <!-- <div id="quickinfo" class="fl_right">
                  <ul class="nospace inline">
                    <li><strong>Malesuada:</strong><br>
                      +00 (123) 456 7890</li>
                    <li><strong>Semper:</strong><br>
                      +00 (123) 456 7890</li>
                  </ul>
                </div> -->
            </header>
        </div>
        <div class="wrapper row2">
            <nav id="mainav" class="hoc clear"> 
                <!-- ################################################################################################ -->
                <ul class="clear">
                  <li class="active"><a href="index.html">TRANG CHỦ</a></li>
                  <li><a class="drop" href="#">GIỚI THIỆU</a>
                    <ul>
                      <li><a href="pages/gallery.html">Giới thiệu chung</a></li>
                      <li><a href="pages/full-width.html">Đội ngũ thẩm định viên</a></li>
                      <li><a href="pages/sidebar-left.html">Đối tác</a></li>
                      <li><a href="pages/sidebar-right.html">Hồ sơ năng lực</a></li>
                    </ul>
                  </li>
                  <li><a class="drop" href="#">TIN TỨC</a>
                    <ul>
                      <li><a href="#">Tin thẩm định giá</a></li>
                      <li><a href="#">Tin tức động sản</a></li>
                      <li><a href="#">Tin tức bất động sản</a></li>
                      <li><a href="#">Tin tức hoạt động</a></li>
                      <li><a href="#">Tin tức khác</a></li>
                    </ul>
                  </li>
                  <li><a class="drop" href="#">Dịch vụ</a>
                    <ul>
                      <li><a href="#">Tư vấn giá động sản</a></li>
                      <li><a href="#">Tư vấn giá bất động sản</a></li>
                      <li><a href="#">Tư vấn giá máy móc thiết bị</a></li>
                      <li><a href="#">Biểu phí</a></li>
                    </ul>
                  </li>
                  <li><a href="/check_gia">SM Tool</a></li>
                  <li><a href="#">Tuyển dụng</a></li>
                  <li><a href="#">Liên hệ</a></li>
                </ul>
            <!-- ################################################################################################ -->
            </nav>
        </div>
        <div class="wrapper bgded overlay" style="background-image:url('static/img/demo/backgrounds/banner.png');">
            <div id="pageintro" class="hoc clear"> 
                <div class="flexslider basicslider">
                    <ul class="slides">
                        <li>
                            <article class="group">
                                <div class="one_half first">
                                    <p class="uppercase">Suspendisse velit urna</p>
                                    <h2 class="heading">Eu dolor sit amet ullamcorper</h2>
                                    <p>Dolor cras diam nec ultrices tincidunt sed vel placerat dui aenean pharetra urna nec nulla tempor sagittis vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</p>
                                    <p><a class="btn medium inverse" href="#">Read More &raquo;</a></p>
                                </div>
                                <!-- <div class="one_half"><a href="#"><img src="static/img/demo/slider/banner.png" alt=""></a></div> -->
                            </article>
                        </li>
                        <li>
                          <article class="group">
                            <div class="one_half first">
                              <p class="uppercase">Cubilia curae aliquam</p>
                              <h2 class="heading">Sodales lectus rhoncus vestibulum</h2>
                              <p>Aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos nam eget dictum dui proin ac turpis pulvinar pulvinar nisl eget accumsan dolor quisque eleifend.</p>
                              <p><a class="btn medium inverse" href="#">Read More &raquo;</a></p>
                            </div>
                            <!-- <div class="one_half"><a href="#"><img src="static/img/demo/slider/banner.png" alt=""></a></div> -->
                          </article>
                        </li>
                        <li>
                          <article class="group">
                            <div class="one_half first">
                              <p class="uppercase">Convallis felis velit</p>
                              <h2 class="heading">Faucibus metus molestie a class</h2>
                              <p>Iaculis vestibulum dolor nunc vulputate ipsum eget placerat ipsum tellus ac urna vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
                              <p><a class="btn medium inverse" href="#">Read More &raquo;</a></p>
                            </div>
                            <!-- <div class="one_half"><a href="#"><img src="static/img/demo/slider/banner.png" alt=""></a></div> -->
                          </article>
                        </li>
                    </ul>
                </div>
          </div>
        </div>
        <div class="wrapper row3">
            <main class="hoc container clear"> 
                <!-- main body -->
                <div class="center btmspace-50">
                    <h3 class="font-x2 nospace heading">DỊCH VỤ</h3>
                    <!-- <p class="nospace">Neque et posuere proin elementum luctus risus sit amet aliquet rutrum <a href="#">cras consectetur</a>.</p> -->
                </div>
                <ul class="nospace group services">
                    <li class="one_quarter first">
                        <article><a href="#"><i class="fa fa-key"></i></a>
                            <h6 class="heading">Biểu phí</h6>
                            <p>Vui lòng liên hệ trực tiếp để biết thêm chi tiết&hellip;</p>
                            <footer><a href="#">Read More &raquo;</a></footer>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article><a href="#"><i class="fa fa-language"></i></a>
                            <h6 class="heading">Tư vấn giá động sản</h6>
                            <p>sagittis nunc sed congue nunc non ultrices tincidunt morbi accumsan commodo eros nec posuere donec rhoncus quis nisl non tempor&hellip;</p>
                            <footer><a href="tu-van-dong-san.html">Read More &raquo;</a></footer>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article><a href="#"><i class="fa fa-laptop"></i></a>
                            <h6 class="heading">Tư vấn giá bất động sản</h6>
                            <p>natoque penatibus et magnis dis parturient montes nascetur ridiculus mus vivamus dictum interdum cum sociis natoque penatibus&hellip;</p>
                            <footer><a href="#">Read More &raquo;</a></footer>
                        </article>
                    </li>
                    <li class="one_quarter">
                        <article><a href="#"><i class="fa fa-bar-chart"></i></a>
                            <h6 class="heading">Tư vấn giá máy móc</h6>
                            <p>parturient montes nascetur ridiculus mus praesent eleifend nulla quis volutpat gravida diam sapien viverra sem ut faucibus quam&hellip;</p>
                            <footer><a href="#">Read More &raquo;</a></footer>
                        </article>
                    </li>
                </ul>
                <!-- / main body -->
                <div class="clear"></div>
            </main>
        </div>
        <div class="wrapper bgded overlay" style="background-image:url('static/img/demo/backgrounds/Picture1.jpg');">
            <div class="hoc container clear"> 
                <div class="center btmspace-50">
                    <h3 class="font-x2 nospace heading">TIN TỨC</h3>
                </div>
                <div class="group">
                    <article class="one_quarter first">
                        <div class="btmspace-30" style="background-image:url('static/img/demo/backgrounds/bds.jpg');background-size: 100% 100%; width: 100%; height: 15vh" alt="" h></div>
                        <h4 class="nospace btmspace-10 font-x1 uppercase">Bất động sản</h4>
                        <ul class="nospace btmspace-10 group font-xs">
                            <li class="fl_left"> <time datetime="2045-04-05">5<sup>th</sup> April 2045</time> </li>
                            <li class="fl_right">by <a href="#">Admin</a></li>
                        </ul>
                        <hr>
                        <p>Nunc lacinia vel integer sed tincidunt ipsum nullam at quam non risus maximus consectetur vitae ut nisi praesent vel mauris ut eros&hellip;</p>
                        <p class="nospace"><a href="#">Read More &raquo;</a></p>
                    </article>
                    <article class="one_quarter" >
                        <div class="btmspace-30" style="background-image:url('static/img/demo/backgrounds/dongsan.jpg');background-size: 100% 100%; width: 100%; height: 15vh" alt="" h></div>
                        <h4 class="nospace btmspace-10 font-x1 uppercase">Động sản</h4>
                        <ul class="nospace btmspace-10 group font-xs">
                            <li class="fl_left"> <time datetime="2045-04-06">6<sup>th</sup> April 2045</time> </li>
                            <li class="fl_right">by <a href="#">Admin</a></li>
                        </ul>
                        <hr>
                        <p>Faucibus et a nulla praesent consequat dolor ex vitae hendrerit metus lectus suscipit vitae vivamus ultrices sem tortor augue pharetra&hellip;</p>
                        <p class="nospace"><a href="#">Read More &raquo;</a></p>
                    </article>
                    <article class="one_quarter">
                        <div class="btmspace-30" style="background-image:url('static/img/demo/backgrounds/thamdinhgia.jpg');background-size: 100% 100%; width: 100%; height: 15vh" alt="" h></div>
                        <h4 class="nospace btmspace-10 font-x1 uppercase">Thẩm định giá</h4>
                        <ul class="nospace btmspace-10 group font-xs">
                            <li class="fl_left"> <time datetime="2045-04-04">4<sup>th</sup> April 2045</time> </li>
                            <li class="fl_right">by <a href="#">Admin</a></li>
                        </ul>
                        <hr>
                        <p>Rhoncus pharetra sed eleifend ante sit amet diam porttitor vitae tempor eros posuere integer consequat enim nisl sed posuere sapien&hellip;</p>
                        <p class="nospace"><a href="#">Read More &raquo;</a></p>
                    </article>
                    <article class="one_quarter">
                        <div class="btmspace-30" style="background-image:url('static/img/demo/backgrounds/khac.jpg');background-size: 100% 100%; width: 100%; height: 15vh" alt="" h></div>
                        <h4 class="nospace btmspace-10 font-x1 uppercase">Khác</h4>
                        <ul class="nospace btmspace-10 group font-xs">
                            <li class="fl_left"> <time datetime="2045-04-04">4<sup>th</sup> April 2045</time> </li>
                            <li class="fl_right">by <a href="#">Admin</a></li>
                        </ul>
                        <hr>
                        <p>Rhoncus pharetra sed eleifend ante sit amet diam porttitor vitae tempor eros posuere integer consequat enim nisl sed posuere sapien&hellip;</p>
                        <p class="nospace"><a href="#">Read More &raquo;</a></p>
                    </article>
                </div>
            </div>
        </div>
        <div class="wrapper row3">
            <main class="hoc container clear"> 
                <!-- main body -->
                <div class="center btmspace-50">
                    <h3 class="font-x2 nospace heading">TIỆN ÍCH</h3>
                    <!-- <p class="nospace">Neque et posuere proin elementum luctus risus sit amet aliquet rutrum <a href="#">cras consectetur</a>.</p> -->
                </div>
                <ul class="nospace group services">
                    <li class=" first">
                        <article><a href="#"><i class="fa fa-key"></i></a>
                            <h6 class="heading">Giới thiệu chung</h6>
                            <p>mauris aliquet neque a interdum est ex dapibus dui nunc id metus varius vehicula ante nec velit etiam sem arcu varius in lacus sed rhoncus&hellip;</p>
                            <footer><a href="#">Read More &raquo;</a></footer>
                        </article>
                    </li>
                    <li class="">
                        <article><a href="#"><i class="fa fa-language"></i></a>
                            <h6 class="heading">Đội ngũ thẩm định</h6>
                            <p>sagittis nunc sed congue nunc non ultrices tincidunt morbi accumsan commodo eros nec posuere donec rhoncus quis nisl non tempor&hellip;</p>
                            <footer><a href="#">Read More &raquo;</a></footer>
                        </article>
                    </li>
                    <li class="">
                        <article><a href="#"><i class="fa fa-laptop"></i></a>
                            <h6 class="heading">Đối tác</h6>
                            <p>natoque penatibus et magnis dis parturient montes nascetur ridiculus mus vivamus dictum interdum cum sociis natoque penatibus&hellip;</p>
                            <footer><a href="#">Read More &raquo;</a></footer>
                        </article>
                    </li>
                    <li class="">
                        <article><a href="#"><i class="fa fa-bar-chart"></i></a>
                            <h6 class="heading">Hồ sơ năng lực</h6>
                            <p>parturient montes nascetur ridiculus mus praesent eleifend nulla quis volutpat gravida diam sapien viverra sem ut faucibus quam&hellip;</p>
                            <footer><a href="#">Read More &raquo;</a></footer>
                        </article>
                    </li>

                </ul>
                <!-- / main body -->
                <div class="clear"></div>
            </main>
        </div>
        <div class="wrapper row4">
            <footer id="footer" class="hoc clear"> 
                <h6 class="title heading">CÔNG TY TNHH TƯ VẤN BẤT ĐỘNG SẢN SAO MỘC</h6>
                <div class="two_quarter first">
                    <ul class="nospace linklist contact">
                        <li><i class="fa fa-map-marker"></i>
                            <address> Tầng 11, tòa nhà CDC, số 25, Phố Lê Đại Hành, Phường Lê Đại Hành, Quận Hai Bà Trưng, Hà Nội </address>
                        </li>
                        <li><i class="fa fa-phone"></i> +84 984 189 868</li>
                        <li><i class="fa fa-envelope-o"></i> sm.hr.support@jupitervaluation.com.vn </li>
                    </ul>
                </div>
                <!-- <div class="two_quarter">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.5533493239236!2d105.84704231493237!3d21.010533986008294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab8bab596bf7%3A0x9627ec43ff9a6600!2zMjUgUGjhu5EgTMOqIMSQ4bqhaSBIw6BuaCwgTMOqIMSQ4bqhaSBIw6BuaCwgSGFpIELDoCBUcsawbmcsIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1500015989890" width="400" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div> -->
            </footer>
        </div>
        <!-- <div class="wrapper row5">
            <div id="copyright" class="hoc clear"> 
                <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
                <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
            </div>
        </div> -->
        <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
        <!-- JAVASCRIPTS -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/sm/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sm/jquery.backtotop.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sm/jquery.mobilemenu.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sm/jquery.flexslider-min.js') }}"></script>

    </body>
</html>